@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Raleway);

/*
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Raleway', sans-serif;

Switch to this when time permits: https://github.com/typekit/webfontloader
*/

body {
  margin: 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 10vw;
  letter-spacing: 0.3vw;
  padding: 1vh 0 1vh;
  border-width: 0 0 2px;
  border-style: solid;
  text-align:center;
}

p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
  color:black;
  text-align:justify;
}

body[page=index] > div {
  padding: 30vh 15vw;
  color: white;
}

.c-gold { background-color: gold }
.c-gold h1 { background-color: orange; border-color: darkgoldenrod; }

.c-lightgreen { background-color: lightgreen }
.c-lightgreen h1 { background-color: cadetblue; border-color: darkolivegreen; }

.c-lightsalmon { background-color: lightsalmon }
.c-lightsalmon h1 { background-color: orangered; border-color: white ; }

.c-x { background-color: x }
.c-x h1 { background-color: orange; border-color:  ; }
